<app-navbar></app-navbar>

<div class="row">
  <div class="image-div">
    <img
      src="assets\common-bg.webp"
      class="responsive"
      width="600"
      height="400"
    />
    <div class="heading-content">
      <h1 class="heading-1">Contact Me</h1>
    </div>
  </div>
</div>

<div class="row" style="height: 2rem"></div>

<div class="container-fluid">
    <div class="row">
      <div
        class="col-xxl-6 col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12 content-div"
      >
        <div class="image">
          <img
            src="assets/about-pic.png"
            alt=""
            style="height: 49vw; width: 41vw"
          />
        </div>
      </div>
      <div
        class="col-xxl-6 col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12 content-div"
      >
        <div class="content">
          <div class="row head">
            <p class="head-para">Get In Touch</p>
          </div>
          <div class="row content-body">
            <i class="fa fa-home fa-3x icon-style" aria-hidden="true"></i>
            <p class="content-para content-1">
                India
            </p>
          </div>
          <div class="row content-body">
            <i class="fa fa-mobile fa-5x icon-style" aria-hidden="true"></i>
            <p class="content-para content-2">
                 1234567890
            </p>
          </div>
          <div class="row content-body">
            <i class="fa fa-envelope fa-3x icon-style" aria-hidden="true"></i>
            <p class="content-para">
              bhupeshdubey98@gmail.com
            </p>
          </div>
          <div class="row content-body">
            <i class="fa fa-linkedin-square fa-3x icon-style" aria-hidden="true"></i>
            <p class="content-para content-3">
                www.linkedin.com/in/bhupesh-dubey-249781168
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="row" style="height: 2rem"></div>

<app-footer></app-footer>

<ngx-ui-loader [hasProgressBar]="false" fgsColor="#ec5b53"></ngx-ui-loader>
