.image-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-content {
  position: absolute;
}

.responsive {
  width: 100%;
  height: auto;
}

.heading-1 {
  color: #002d5b;
  font-size: 5vw;
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
  font-family: none;
}

.jumbotron-div{
  height: 45rem;
  margin-bottom: 0px;
}

.jumbotron-container{
  text-align: center;
}