<app-navbar></app-navbar>

<div class="image-div">
  <img
    src="assets\common-bg.webp"
    class="responsive"
    width="600"
    height="400"
  />
  <div class="heading-content">
    <h1 class="heading-1">Projects I have worked on</h1>
  </div>
</div>

<div class="row" style="height: 2rem"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top: 1rem;">
            <div class="card card-div">
                <h5 class="card-header card-head-style">ABCD</h5>
                <div class="card-body">
                  <h5 class="card-title">Cryptocurrency website</h5>
                  <p class="card-text">
                    With supporting text below as a natural lead-in to additional content.
                  </p>
                  <p class="card-text">
                    With supporting text below as a natural lead-in to additional content.
                  </p>
                  <p class="card-text">
                    Click on the below link to visit website.
                  </p>
                  <a href="https://sadasd.co/" target="_blank" rel="noopener noreferrer" class="btn btn-primary link-url">https://sabsba.co/</a>
                </div>
              </div>
        </div>

        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-top: 1rem;">
            <div class="card card-div">
                <h5 class="card-header card-head-style">2. EFGH</h5>
                <div class="card-body">
                  <h5 class="card-title">Cryptocurrency Exchange website</h5>
                  <p class="card-text">
                    With supporting text below as a natural lead-in to additional content.
                  </p>
                  <p class="card-text">
                    With supporting text below as a natural lead-in to additional content.
                  </p>
                  <p class="card-text">
                    Click on the below link to visit website.
                  </p>
                  <a href="https://dsad.com/" target="_blank" rel="noopener noreferrer" class="btn btn-primary link-url">https://iudosaa.com/</a>
                </div>
              </div>
        </div>
    </div>
</div>

<div class="row" style="height: 2rem"></div>

<app-footer></app-footer>

<ngx-ui-loader [hasProgressBar]="false" fgsColor="#ec5b53"></ngx-ui-loader>
