.image-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-content {
  position: absolute;
}

.responsive {
  width: 100%;
  height: auto;
}

.heading-1 {
  color: #002d5b;
  font-size: 5vw;
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
  font-family: none;
}

.card-div:hover {
  border: 1px solid black;
  cursor: pointer;
}

.link-url {
  background-color: #002d5b;
}

.card-head-style {
  color: white;
  background-color: #002d5b;
}
