<app-navbar></app-navbar>

<div class="image-div">
  <img src="assets\man.webp" class="responsive" width="600" height="400">
  <div class="heading-content">
    <span class="solution-span">GET EVERY SINGLE SOLUTIONS</span>
    <h1 class="heading-1">I'm Fullstack Developer</h1>
    <h1 class="heading-2">Bhupesh Dubey</h1>
    <div class="paragraph-data">
      <p class="paragraph-value">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione provident temporibus sed tempore autem porro itaque minima iste. Quasi rerum tempore saepe consequuntur aliquid minus commodi explicabo blanditiis deleniti at?</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row content-main-div">
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 content-left ">
      <p class="left-heading-1">
        Developing With Passion While Exploring The World.
      </p><br>
      <p class="left-paragraph-1">
        Consectetur adipiscing elit, sed do eiusmod tempor ididunt ut labore et dolore magna aliqua. Quis ipsum suspendisces gravida. Risus commodo viverra sebfd dho eiusmod tempor maecenas accumsan lacus.
      </p><br>
      <p class="left-paragraph-2">
        Consectetur adipiscing elit, sed do eiusmod tempor ididunt ut labore et dolore magna aliqua.
      </p>
    </div>
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12"></div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 content-right">
      <p class="right-heading-1">
        Any Type Of Query & Discussion.
      </p><br>
      <p class="right-paragraph-1">
        Let's connect and talk
      </p>
      <p class="right-paragraph-2">
        bhupeshdubey98@gmail.com
      </p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row trap-div">
    <div id="trapezoid1">
      What
    </div>
    <div id="trapezoid1">
      Services
    </div>
    <div id="trapezoid1">
      you will
    </div>
    <div id="trapezoid1">
      get from
    </div>
    <div id="trapezoid2">
      me!
    </div>
  </div>
</div>



<div class="container" style="margin-top: 3rem;">
  <div class="row">
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 card-main-div">
      <div class="card">
        <img class="card-img-top logo" src="assets/web-design.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title card-head">Web Designing</h5>
          <p class="card-text card-content">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 card-main-div">
      <div class="card">
        <img class="card-img-top logo" src="assets/web-development.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title card-head">Web Development</h5>
          <p class="card-text card-content">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 card-main-div">
      <div class="card">
        <img class="card-img-top logo" src="assets/database.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title card-head">Database Management</h5>
          <p class="card-text card-content">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 card-main-div">
      <div class="card">
        <img class="card-img-top logo" src="assets/web-development.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title card-head">Web Development</h5>
          <p class="card-text card-content">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="height: 2rem;"></div>

<div class="image-div">
  <img src="assets\contact-bg.webp" class="img-responsive" width="600">
  <div class="heading-content">
    <h1 class="available-heading">Dont worry for contact</h1>
    <h1 class="available-heading">i`m available</h1><br>
    <span class="mail-span">bhupeshdubey98@gmail.com</span>
  </div>
</div>

<div class="row" style="height: 4rem;"></div>

<div class="container-fluid">
  <div class="row" style="margin-left: 1rem;">
    <div class="col-12">
      <h1 class="companies-heading">Some Companies that I have worked on</h1>
    </div>
  </div>
</div>



<div class="top-content">
  <div class="container-fluid" style="margin-top: 3rem;">
      <div id="carousel-example" class="carousel slide" data-ride="carousel" style="margin-left: 2rem;">
          <div class="carousel-inner row w-100 mx-auto" role="listbox">
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
                  <h3 style="color: crimson;">ABCD Limited</h3>
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                <h3 style="color: crimson;">EFGH Limited</h3>
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                <h3 style="color: crimson;">IKHD Technologies</h3>
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                <h3 style="color: crimson;">KOPI Technologies</h3>
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                <h3 style="color: crimson;">BSDE Technologies</h3>
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                <h3 style="color: crimson;">Freelancer</h3>
              </div>
          </div>
      </div>
  </div>
</div>




<div class="row" style="height: 2rem;"></div>

<div class="image-form-div">
  <img src="assets\work-together-bg.webp" class="img-form-responsive" width="600">
  <div class="heading-content" style="width: 90%;">
    <div class="row">
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h1 class="work-heading">If Not Now, When?</h1>
        <h1 class="work-heading">Let’s Work Together!</h1><br>
        <div class="paragraph-data">
          <p class="details-p">Consectetur adipiscing elit, sed do eiusmod tempor ididunt ut labore et dolore magna aliqua. Quis ipsum suspendisces gravida. Risus commodo viverra.</p>
        </div>
      </div>
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <form class="main-form">
          <div class="form-group form-divs">
            <input type="email" class="form-control form-inputs" id="exampleFormControlInput1" placeholder="Full Name">
          </div>
          <div class="form-group" style="height: 3rem;">
            <input type="email" class="form-control form-inputs" id="exampleFormControlInput1" placeholder="Email address">
          </div>
          <div class="form-group" style="height: 2rem;">
            <textarea class="form-control form-inputs" id="exampleFormControlTextarea1" placeholder="Your Message" rows="3"></textarea>
          </div>
          <br><br><br>
          <button class="form-button">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row" style="height: 2rem;"></div>

<app-footer></app-footer>

<ngx-ui-loader [hasProgressBar]="false" fgsColor="#ec5b53"></ngx-ui-loader>