<div class="container-fluid">
  <div class="row" style="background-color: #080827; height: 30rem">
    <div class="col-12">
      <div class="row logo-row">
        <img class="folio-logo" src="assets/logo.png" alt="folio-logo" />
      </div>
      <div class="row mail-row">
        <span class="mail-span-footer">bhupeshdubey98@gmail.com</span>
      </div>
      <div class="row copyright-row">
          <p class="copyright-content">Copyright ©2021 All rights reserved @TechnoFolio</p>
      </div>
    </div>
  </div>
</div>
