<app-navbar></app-navbar>
<!-- <br> -->
<!-- <div class="container-fluid"> -->
<div class="row">
  <div class="image-div">
    <img
      src="assets\common-bg.webp"
      class="responsive"
      width="600"
      height="400"
    />
    <div class="heading-content">
      <h1 class="heading-1">About Me</h1>
    </div>
  </div>
</div>
<!-- </div> -->

<div class="row" style="height: 2rem"></div>

<div class="container-fluid">
  <div class="row">
    <div
      class="col-xxl-6 col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12 content-div"
    >
      <div class="image">
        <img
          src="assets/about-pic.png"
          alt=""
          style="height: 49vw; width: 41vw"
        />
      </div>
    </div>
    <div
      class="col-xxl-6 col-xl-6 col-lg-12 col-md-12 col-sm-12 col-xs-12 content-div"
    >
      <div class="content">
        <div class="row head">
          <p class="head-para">I Create Products Not Just Art.</p>
        </div>
        <div class="row content-body">
          <p class="content-para">
            Unlimited rewards. enjoy attractive discounts flexible Payme options
            global usage. Unlimited rewards. enjoy attracti exible ayment
            options global usage.
          </p>
          <div class="highlight">
            <p class="highlight-content">
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum.
            </p>
          </div>
          <div style="margin-top: 1rem">
            <p class="content-data">
              Unlimited rewards. enjoy attractive discounts flexible Payme
              options global usage. Unlimited rewards. enjoy attracti exible
              ayment options global usage.
            </p>
            <p class="content-data">
              Unlimited rewards. enjoy attractive discounts flexible Payme
              options global usage. Unlimited rewards. enjoy attracti exible
              ayment options global usage.
            </p>
            <p class="content-data">
              Unlimited rewards. enjoy attractive discounts flexible Payme
              options global usage. Unlimited rewards. enjoy attracti exible
              ayment options global usage.
            </p>
            <p class="content-data">
              Unlimited rewards. enjoy attractive discounts flexible Payme
              options global usage. Unlimited rewards. enjoy attracti exible
              ayment options global usage.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" style="height: 2rem"></div>

<app-footer></app-footer>

<ngx-ui-loader [hasProgressBar]="false" fgsColor="#ec5b53"></ngx-ui-loader>
